$theme_color:#002349;
$dark_theme_color:#04122d;
$light_theme_color:#00527d;
$light_black:#111111;
$white:#ffffff;
$dark_grey:#777777;
$black:#000000;
$light_grey:#cccccc;
$lighter_grey:#dddddd;
$footer_color: #484848;