.data-table-responsive {
  .icon.md-plus-circle {
    font-size: 25px;
  }
}
.btn__purple {
    color: #fff;
    background: #6b4994;
    padding: 5px 17px;
    font-size: 16px;
    font-weight: 400;    
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 1px 2px 2px #888 !important;
    i{
    	margin-right: 5px;
    }
    &:hover{
    	opacity:0.8;
        color:#ffffff;
    }
}
.btn__blue{
    color: #fff !important;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
    box-shadow: 1px 2px 2px #888 !important;
    i{
    	margin-right: 5px;
    }
    &:hover{
    	background-color: #269abc !important;
        border-color: #1b6d85 !important;
        color:#ffffff;
    }
}
.btn__red{
    color: #fff !important;
    background-color:#ff0000 !important;
    border-color:#ff0000 !important;
    box-shadow: 1px 2px 2px #888 !important;
    i{
    	margin-right: 5px;
    }
    &:hover{
    	opacity:0.8;
        color:#ffffff;
    }
}
.btn__default{
    color: #fff !important;
    background-color:#777777 !important;
    border-color:#777777 !important;
    box-shadow: 1px 2px 2px #888 !important;
    i{
    	margin-right: 5px;
    }
    &:hover{
    	opacity:0.8;
        color:#ffffff;
    }
}
.btn__duplicate{
    color: #fff !important;
    background-color:#009968 !important;
    border-color:#009968 !important;
    box-shadow: 1px 2px 2px #888 !important;
    i{
        margin-right: 5px;
    }
    &:hover{
        background-color: #006646 !important;
        border-color: #006646 !important;
        color:#ffffff;
    }
}
.btn__edit{
     color: #fff !important;
    background-color:#ffc921 !important;
    border-color:#ffc921 !important;
    box-shadow: 1px 2px 2px #888 !important;
    i{
        margin-right: 5px;
    }
    &:hover{
        background-color:#ffc40e !important;
        border-color:#ffc40e !important;
        color:#ffffff;
    }
}

.btn__small{
	padding: 5px 14px !important;
	font-size: 14px !important;	
}
.btn{
	box-shadow: 1px 2px 2px #888 !important;
}
.btn__block{
    display: block;
    width: 100%;
}
.btn__large{
    padding: 10px;
}
.btn__radius--none{
    border-radius: 0px;
}