.left-menu {
  position: fixed;
  top:53px;
  display: block;
  transition: width 0.25s ease 0s, opacity 0.25s ease 0s, transform 0.25s ease 0s;
  z-index: 1400;
  background:#752c93;
  box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.05), 3px 0 15px 0 rgba(0, 0, 0, 0.1);
  color:#fff;
  font-family: Roboto, sans-serif;
  height: 100%;
}
.left-menu a {
  color: #fff;
  text-decoration: none;
}
.left-menu .menu_item {
  width: 170px;
  display: inline-block;
}
.left-menu .left {
  float: left;
  height: 85%;
  padding-left: 0px;
  overflow: hidden;
}
.left-menu .left:hover {
  overflow: auto;
}
.left-menu .left {
  background:#752c93;
  display: inline-block;
  white-space: nowrap;
  width: 50px;
  transition: width 0.3s ease;
}
.left-menu .menu-nav {
  font-size: 30px;
  color: #fff;
  padding: 0px 10px 0px;
  overflow: hidden;
  transition: width 1s;
}
.left-menu .left-change {
  width: 240px;
}
.left-menu .item:hover {
  background-color:#b098cd;
}
.left-menu .left .icon {
  margin: 15px;
  width: 5px;
  color: #fff;
  font-size: 14px;
}
.left-menu .left.left-fix .icon{
  width:20px;
}
.left-menu .item {
  overflow: hidden;
  color: #fff;
  position: relative;
  z-index: 9;
  padding: 0px;
}
.left-menu .sub-menu {
  list-style: none;
  width: 100%;
  padding-left: 0px;
}
.left-menu .sub-menu li {
  padding: 5px 0px 4px 48px;
  background:#55196d;
  width: 100%;
}
.left-menu .sub-menu .sub-child-menu li {
  padding: 5px 0px 5px 15px;
}
.left-menu .sub-menu li:hover {
  background:#55196d;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(166, 179, 196, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(166, 179, 196, 0.4);
}
.tooltiptext {
  visibility: hidden;
  background-color:#752c93;
  color: #fff;
  min-width: 120px;
  text-align: center;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s;
}
.tooltip-right {
  margin-top: -32px;
  left: 58px;
}
.tooltip-right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #752c93 transparent transparent;
}
.left-menu .item.active{
  background-color: #b098cd;
}

.item-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.left-menu .menu_item {
    width: 164px;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
}
.toggle-sign .fa{
  font-size: 12px;
}