$dark_grey:#777777;
.breadcrumb{
	padding:0px 0px !important;
	margin-bottom: 4px;
	color:$dark_grey;
	background-color: transparent !important;

    > li + li:before {
    	padding: 0 5px;
    	color:$dark_grey;
    	content: ">";
	}
	> li{
		a{
			color:$dark_grey;			
		}
		&.active{
	  		color:$theme_color;	
		}
	}
}
	
