/*Temporarily disable the loader wrapper class*/
.loader-wrapper {
    display: none;
}

/*Remove help from formio builder*/
i.glyphicon.glyphicon-new-window {
    display: none;
}


@media (max-width: 480px) {
    .slick-slide {
        width: 321px !important;
    }
}

@media (max-width: 380px) {
    .slick-slide {
        width: 285px !important;
    }
}
