/*----------------------------------------
    Breadcrumb
------------------------------------------*/

#breadcrumbs-wrapper {
    padding: 20px 0;
    background: transparent;

    .breadcrumbs-btn {
        top: 24px;
    }

    h5.breadcrumbs-header {
        font-size: 1.64rem;
        line-height: 1.804rem;
        margin: 1.5rem 0 0 0;
    }

    .breadcrumbs {
        margin: 15px 0;
        padding: 0;
        list-style: none;

        > li {
            display: inline-block;
            font-size: 11px;

            + li::before {
                font-family: 'Material Icons';
                position: relative;
                top: 3px;
                padding: 0 5px 0 4px;
                content: 'keyboard_arrow_right';
                color: #bdbdbd;
            }
        }

        .active {
            font-weight: normal;
            color: #9e9e9e;
        }
    }

    .breadcrumbs-title {
        font-size: 1.4rem;
        line-height: 1.4rem;
    }

    .breadcrumbs-nav {
        margin: 8px 0 9px;
    }

    &.breadcrumbs-inline {
        .breadcrumbs-title, .breadcrumbs {
            display: inline;
        }

        .breadcrumbs-left {
            position: relative;
            top: 8px;
        }

        .breadcrumbs-title {
            padding-right: 20px;
            border-right: 1px solid #bdbdbd;
        }

        .breadcrumbs {
            padding-left:4px;
        }

        .breadcrumbs-btn {
            top: 0;
        }
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #breadcrumbs-wrapper .breadcrumbs > li + li::before {
        top: 0;
        width: 0;
        content: '/';
    }
}
.login-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .card-panel.border-radius-6.login-card {
        margin-left: 0 !important;
    }
}
