/*----------------------------------------
    SideNav - Main Menu
------------------------------------------*/

.sidenav-main {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 214px;
    height: 100%;
    background:$theme-color;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;

    span.badge.new {
        line-height: 20px;
        margin-top: 11px;
        background-color: #6b4994;
    }
}

.brand-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: 64px;
    background: #575758;
    -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    .logo-wrapper {
        font-size: 22px;
        line-height: 17px !important;
        margin: 0;
        white-space: nowrap;

        a {
            &.brand-logo img {
                height: 18px;
            }

            &.navbar-toggler {
                position: absolute;
                top: 7px;
                right: 15px;

                i {
                    font-size: 15px;
                    line-height: 56px;
                    display: block;
                    height: 56px;
                    color: #333;
                }
            }
        }
    }

    span.logo-text {
        font-size: 18px;
        visibility: visible;
        padding-left: 8px;
        -webkit-transition: opacity .2s linear;
        -moz-transition: opacity .2s linear;
        -o-transition: opacity .2s linear;
        transition: opacity .2s linear;
        opacity: 1;
    }

    .brand-logo {
        font-size: 2.1rem;
        line-height: 0;
        position: absolute;
        display: inline-block;
        margin: 1px 0;
        padding: 28px 12px;
        color: #333;

        img {
            height: 18px;
        }

        &.center {
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        &.right {
            right: .5rem;
            padding: 0;
        }

        i, [class^='mdi-'], [class*='mdi-'], i.material-icons {
            float: left;
            margin-right: 15px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .brand-sidebar .brand-logo {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);

        &.left, &.right {
            padding: 0;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
        }

        &.left {
            left: .5rem;
        }

        &.right {
            right: .5rem;
            left: auto;
        }
    }
}

.sidenav {
    top: 64px;
    overflow: hidden;
    width: inherit;
    height: 100%;
    background-color:$theme-color;
    -webkit-transition: auto !important;
    -moz-transition: auto !important;
    -o-transition: auto !important;
    transition: auto !important;
    border: none;
    -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    &.native-scroll {
        overflow-y: scroll !important;
    }

    a {
        line-height: 42px;
        height: 42px;
    }

    .navigation-header {
        font-size: .85rem;
        font-weight: 600;
        margin-top: 10px;
        padding: 0 17px;
        text-transform: uppercase;

        .navigation-header-icon {
            display: none;
        }

        .navigation-header-text {
            font-size: .85rem;
            font-weight: 600;
            line-height: 30px;
            height: 30px;
            margin: 0;
            padding: 0 !important;
            color: #969696;

            &:hover {
                background-color: transparent !important;
            }
        }
    }

    li {
        line-height: 44px;
        padding: 0;

        a {
            color: #ffffff;

            i {
                font-size: 1.4rem;
                line-height: inherit;
                display: block;
                float: left;
                width: 2rem;
                margin-right: 1rem;
                text-align: center;
            }
        }
    }

    .collapsible-header {
        font-weight: 400;
        margin: 0;
        /* Sidebar nav open close icons*/
        &:after {
            font-family: 'Material Icons';
            font-size: 18px;
            position: absolute;
            right: 16px;
            content: 'keyboard_arrow_right';
            transition: transform .3s ease-in-out, opacity .25s ease-in-out .1s, -webkit-transform .3s ease-in-out;
            color: #afafaf;
        }

        &.active:after {
            content: 'keyboard_arrow_down';
        }
    }

    li {
        .collapsible-body {
            background: transparent;

            a i {
                font-size: .7rem;
            }
        }

        a.active {
            color: #fff;
            background: #9c27b0 !important;
            box-shadow: 1px 1px 3px 0 rgb(122, 82, 175) !important;

            i {
                color: #fff;
            }
        }

        &:not(.active).open {
            background-color: rgba(0, 0, 0, 0.035);
        }

        &.active {
            background:$secondary-color;

            > .collapsible-header:after {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }

        &.open,&:hover {
            background:$secondary-color;
        }

        > a {
            font-weight: 400;
            line-height: 44px;
            font-size: 12px;
            height: 44px;
            padding: 0 16px !important;
        }

        a.collapsible-header {
            font-weight: 400;
            line-height: 44px;
            font-size: 12px;
            height: 44px;
            padding: 0 16px !important;

            > i.material-icons {
                line-height: 44px;
                color: #ffffff;
                height: 44px;
                margin: 0 20px 0 0;
            }
        }

        > a > i.material-icons {
            line-height: 44px;
            color: #ffffff;
            height: 44px;
            margin: 0 20px 0 0;
        }

        > a:not(.active):hover {
            background-color: rgba(0, 0, 0, 0.035) !important;
        }
    }

    .collapsible-body > ul:not(.collapsible) > li.active, &.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
        background-color: #e6b5ee;
    }

    .collapsible-body > ul:not(.collapsible) > li.active {
        a, i {
            color: #9c27b0;
            background: none;
        }
    }

    &.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
        a, i {
            color: #9c27b0;
            background: none;
        }
    }
}

.nav-expanded {
    .sidenav .menu-title {
        visibility: visible;
        -webkit-transition: opacity .2s linear;
        -moz-transition: opacity .2s linear;
        -o-transition: opacity .2s linear;
        transition: opacity .2s linear;
        opacity: 1;
    }

    .navigation-header-text {
        display: block;
    }

    .navigation-header-icon {
        display: none;
    }
}

.nav-collapsed {
    &.sidenav-main {
        width: 64px;
    }

    .brand-sidebar {
        .navbar-toggler, .brand-logo span {
            visibility: hidden;
            -webkit-transition: visibility 0s 2s, opacity .05s linear;
            -moz-transition: visibility 0s 2s, opacity .05s linear;
            -o-transition: visibility 0s 2s, opacity .05s linear;
            transition: visibility 0s 2s, opacity .05s linear;
            opacity: 0;
        }
    }

    .navigation-header-text {
        display: none;
    }

    .navigation-header-icon {
        display: block !important;
    }

    .sidenav {
        .user-options, .menu-title, .collapsible-body span, .collapsible-header:after {
            display: none;
        }

        .menu-title {
            visibility: visible;
            -webkit-transition: opacity .2s linear;
            -moz-transition: opacity .2s linear;
            -o-transition: opacity .2s linear;
            transition: opacity .2s linear;
            opacity: 1;
        }
    }
}

.nav-lock .navigation-header-icon {
    display: none;
}

.nav-collapsible {
    &.nav-collapsed span.badge.pill {
        visibility: hidden;
        -webkit-transition: visibility 0s 2s, opacity .05s linear;
        -moz-transition: visibility 0s 2s, opacity .05s linear;
        -o-transition: visibility 0s 2s, opacity .05s linear;
        transition: visibility 0s 2s, opacity .05s linear;
        opacity: 0;
    }

    span.badge {
        color: #fff;

        &.pill {
            position: absolute;
            right: 10px;
            visibility: visible;
            float: none;
            -webkit-transition: opacity .2s linear;
            -moz-transition: opacity .2s linear;
            -o-transition: opacity .2s linear;
            transition: opacity .2s linear;
            opacity: 1;
        }
    }
}

.navbar-full .brand-sidebar {
    background: transparent;

    .brand-logo, .logo-wrapper a.navbar-toggler i {
        color: #fff;
    }
}

.sidenav-active-rounded {
    .sidenav {
        li {
            > a.active {
                color: #fff;
                border-radius: 0 25px 25px 0;

                > i {
                    color: #fff;
                }
            }

            &:not(.open) > a.active {
                color: #fff;

                > i {
                    color: #fff;
                }
            }

            &:not(.active) > a:hover {
                margin-right: 16px;
                border-radius: 0 25px 25px 0;
            }

            > a, a.collapsible-header {
                margin-right: 16px;
                padding: 0 0 0 16px !important;
                -webkit-transition: none;
                -moz-transition: none;
                -o-transition: none;
                transition: none;
            }
        }

        .collapsible-header:after {
            right: 9px;
        }
    }

    &.nav-collapsed li {
        > a, a.collapsible-header {
            margin-right: 10px;
        }

        &.close {
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
}

@media only screen and (max-width: 992px) {
    .sidenav-main {
        width: auto;
        height: 0;

        .brand-sidebar {
            left: 80px;
            background: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;

            .navbar-toggler {
                display: none;
            }

            .logo-wrapper {
                padding: 0 !important;
            }

            .sidenav-trigger {
                top: -48px;
            }
        }

        .sidenav {
            top: 0;
            width: 214px;
        }

        .btn-sidenav-toggle {
            position: relative;
            top: 10px;
            left: 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .sidenav-main {
        .brand-sidebar .brand-logo {
            padding: 16px 12px 20px 12px;
        }

        .btn-sidenav-toggle {
            position: relative;
            top: 6px;
            left: 6px;
        }
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .sidenav {
        .collapsible-header {
            /* Sidebar nav open close icons*/
            &:after {
                width: 0;
                content: '+';
            }
        }

        li.active > .collapsible-header:after {
            right: 0;
            width: 0;
            content: '-';
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}
