.navbar {
    .toggle-fullscreen, .notification-button {
        line-height: 1;
    }

    .notification-badge {
        font-family: 'Muli', sans-serif;
        position: relative;
        top: -20px;
        right: 5px;
        margin: 0 -.8em;
        padding: 2px 5px;
        color: #fff;
        border-radius: 50%;
        background-color: #e53e9b;
        -webkit-box-shadow: 0 0 10px 0 #e53e9b;
        box-shadow: 0 0 10px 0 #e53e9b;
    }

    #notifications-dropdown {
        h5 {
            font-size: 1rem;
            font-weight: 500;
            text-transform: capitalize;
        }

        li {
            font-size: 1rem;
            padding: 8px 16px;

            > {
                a {
                    font-size: 14px;
                    font-weight: 300;
                    padding: 0;

                    > span {
                        font-size: 1.2rem;
                        position: relative;
                        top: 4px;
                        display: inline-block;
                        margin-right: 5px;
                    }
                }

                time {
                    font-size: .8rem;
                    font-weight: 400;
                    margin-left: 38px;
                }
            }

            &.divider {
                padding: 0;
            }
        }
    }
}

#notifications-dropdown.dropdown-content {
    width: 310px !important;
    right: 58px !important;
    left: auto !important;
    top: 64px !important;
}
