/*pagination */

.pagination {
    margin-top: -2px;
    margin-bottom: 0px;

    li {
        height: 24px;
        line-height: 24px;

        &.active {
            background-color:$theme-color;
            span{
                color:$white;
            }
        }

        a {
            font-size: 12px;
            line-height: 24px;
        }

        span {
            width: 24px;
            display: inline-block;
        }
    }
}

.pagination--top {
    display: inline;
}
.panel{
    .pagination{
        margin:20px 0px;
    }
}
