.pr0 {
    padding-right: 0;
}
.pl0 {
    padding-left: 0;
}
*,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.blue-grd {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,d1e3fe+100&0+0,1+100 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWUzZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(125, 185, 232, 0) 0%, #d1e3fe 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(125, 185, 232, 0)), color-stop(100%, #d1e3fe));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(125, 185, 232, 0) 0%, #d1e3fe 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(125, 185, 232, 0) 0%, #d1e3fe 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(125, 185, 232, 0) 0%, #d1e3fe 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(125, 185, 232, 0) 0%, #d1e3fe 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#d1e3fe', GradientType=1);
    /* IE6-8 */
}
a,
a:hover {
    text-decoration: none;
    outline: none !important;
}
a {
    color: #044099;
}
img{
    width: 100%;
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;

}
ul {
    margin-bottom: 0px;
}

.banner-header{
    position: relative;
    overflow: hidden;
    height: 550px;
    vertical-align: middle;
    background: #235177;
}
.site-logo {
    padding: 0px;
    text-align: center;
    width:212px;
    float: left;
}
.site-logo h2 {
    width: 23%;
    line-height: 42px;
    color: #6b4994;
    font-size: 36px;
    font-family: 'Noto Sans',sans-serif;
    margin: 0 auto;
}
.header-text{
    display: table;
    height: 550px;
}
.header-intro{
    display: table-cell;
    vertical-align: middle;
}
.header-text h1{
    color:#fff;
    font-size:50px;
    font-weight: bold;
}
.header-text p{
    margin-top:22px;
    color: #fff;
    font-size: 18px;
}
.header-img{
    line-height: 550px;
}
.about{
    padding: 50px 0px;
}
.about h3{
    width: 54%;
    text-align: center;
    font-size: 22px;
    line-height:32px;
    margin: 0 auto;
    color: #444343;
}
.about h3:before{
    content: "";
    background: #6b4994;
    height: 4px;
    width: 100px;
    margin:0 auto 20px;
    display: block;
}
.feature{
    padding: 80px 0px;
}
.feature h3{
    font-size: 22px;
    color: #444343;
    margin-bottom: 30px;
}
.feature h3:after{
    content: "";
    background: #6b4994;
    height: 4px;
    width: 60px;
    margin:20px 0 0px;
    display: block;
}
.feature p {
    margin: 0 0 10px;
    font-size: 18px;
    margin-top: 18px;
    line-height: 30px;
    color: #666;
}
img.phone{
    width: 400px;
}
.feature-container{
    display: inline-block;
    float: none;
    vertical-align: middle;
    width: 49%;
}
.cta{
    padding: 80px 0px 0;
}

.dynamic-section{
    background: #235177;
    color:#fff;
    height: 490px;
}
.cta-container{
    background: #ccc;
}
.half-cta{
    padding: 40px 40px;
}

.half-cta input{
    width: 75%;
    margin-top: 20px;
    height: 40px;
    padding: 20px;
}

.half-cta button{
    margin-top: 40px;
    width: 240px;
    height: 45px;
    background: #6b4994;
    color: #fff;
    border: 0;
    font-size: 24px;
}
.dynamic-section h3{
    font-size: 45px;
    padding-bottom:0px !important;

}

.dynamic-section p{
    margin-top: 20px;
    font-size: 16px;
}

.dynamic-section h2{
    width: 323px;
    height: 50px;
    line-height: 50px;
    background: #f5892d;
    margin: 70px auto;
    color: #fff;
    font-size: 24px;
}
.footer{
    background:#001a37;
}
.footer-logo{
    width: 200px;
}
.footer p{
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
}
.footer span {
    color: #fff;
    font-size: 24px;
    margin-left: 20px;
}
.footer .social-links{
    padding-top: 20px;
}
.half-cta h3{
    padding-bottom: 24px;
    color: #fff;
    font-size: 36px;
    font-weight: 500;
}
.contact-links{
    float:right;
    padding:18px 20px 0px;
}

.contact-links a {
    color: #444343;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: 14px;
    padding: 10px 25px !important;
}
.contact-links a:hover{
    background-color: transparent !important;
}
.contact-links i{
    margin-right: 10px;
    color: #6b4994;
}
.login-btn {
    color: #ffffff !important;
    border: 1px solid;
    margin-left: 0px;
    display: inline-block;
    padding: 6px 35px;
    margin-top: 25px;
}
.site-heading.sticky {
    box-shadow: 2px 2px 2px #0e0e0e;
    padding-top: 0px;
}
.site-heading.sticky .site-logo {
    width: 218px;
}
.site-heading.sticky .contact-links {
    padding: 20px 20px 0;
}
.navbar-toggler{
    visibility: hidden;
}
.site-heading.sticky .contact-links {
    padding: 0px 20px 0;
}
.chairperson-block span{
    display: inline-block;
    vertical-align: middle;
}
.pd-t-20{
    padding-top: 20px;
}
.half-cta input,.half-cta textarea{
    width:100%;
    margin-top: 20px;
    height:30px;
    padding: 20px;
 }
.half-cta .col-sm-12,.half-cta .col-sm-6{
   padding-left: 0px;
}
.half-cta textarea{
    height: 100px;
}
.cta-container .row{
    margin: 0px;
}